
body{
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(images\ /snowy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.banner-image{
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}

.thumbnail{
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.name{
  background-color: aliceblue;
  color: #272343;
  display:flex;
  justify-content:center;
  border-radius: 25px;
  
}

.banner{
  display: flex;
  justify-content: center;
}

.social-icons{
  display: flex;
  justify-content: space-around;
}


.social-icons a{
  color: #272343;
  text-decoration: none;
  background-color: aliceblue;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}



.link{
  background-color: rgba(137, 207, 240, .15);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  transition: box-shadow 0.3 ease;
}

.link:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.link a{
  color:#272343;
  text-decoration: none;
  text-align: center;
  flex-grow:1;
  mix-blend-mode: difference;
}

.items{
  display:flex;
  flex-direction:column;
  gap:30px;
  max-width: 640px;
  flex-grow:1;
}
